.search {
  position: relative;

  .search-results {
    position: absolute;
    background: #fff;
    position: absolute;
    box-shadow: 2px 2px 10px #444;
  }

  input {
    visibility: hidden;
  }
}


.playlist:hover .search input{
  visibility: visible;
}

.playlist .search input:focus {
  visibility: visible;
}